.contents__left__up
  .contents__left__up__user
    = current_user.name
  .contents__left__up__logo
    = link_to new_group_path do
      =fa_icon "edit" , class: "contents__left__up__logo__btn--edit"
    = link_to edit_user_path(current_user) do
      =fa_icon "cog" , class: "contents__left__up__logo__btn--cog"
.contents__left__down
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      = link_to group_messages_path(group) do
        .contents__left__down__group1
          = group.name
        .contents__left__down__chat1
          = group.show_last_message
